@model List<MyBlogNight.EntityLayer.Concrete.Article>


<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        <a href="~/markedia/markedia/marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="w-100 justify-content-between">
                                <img src="@item.CoverImageUrl" height="90" width="90" alt="" class="img-fluid float-left">
                                <h5 class="mb-1">@item.Title</h5>
                                <small>@item.CreatedDate.ToString("dd/MMMM/yyyy")</small>
                            </div>
                        </a>
                    }
                    </div>
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Popular Categories</h2>
            <div class="link-widget">
                <ul>
                    <li><a>Sinama/TV <span>(3)</span></a></li>
                    <li><a>Teknoloji <span>(1)</span></a></li>
                    <li><a>Tiyatro <span>(4)</span></a></li>
                    <li><a>Film <span>(2)</span></a></li>
                    <li><a>Dizi <span>(1)</span></a></li>
                    <li><a>Sağlık <span>(3)</span></a></li>
                    <li><a>Eğitim <span>(6)</span></a></li>
                    <li><a>Kültür <span>(7)</span></a></li>
                    <li><a>Sanat <span>(3)</span></a></li>
                    <li><a>Spor <span>(4)</span></a></li>
                    <li><a>Kişisel Gelişim <span>(8)</span></a></li>
                    <li><a>Bilgisayar Ekipmanları <span>(3)</span></a></li>
                </ul>
            </div><!-- end link-widget -->
        </div><!-- end widget -->
    </div><!-- end sidebar -->
</div><!-- end col -->
