<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Anasayfa - Dashboard</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Sayfalar</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/focus-2/index.html">Dashboarda Git</a></li>
                    <li><a href="~/focus-2/index2.html">Anasayfaya Git</a></li>
                </ul>
            </li>
            <li class="nav-label">Profil Yönetimi</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Profil</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/focus-2/app-profile.html">Profile Git</a></li>
                    <li><a href="~/focus-2/app-profile.html">Profil Bilgileri</a></li>
                </ul>
            </li>
            <li class="nav-label">Kategori Yönetimi</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Kategori</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/focus-2/app-profile.html">Kategorilere Git</a></li>
                </ul>
            </li>
            <li class="nav-label">Oturum Yönetimi</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Oturum</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/focus-2/app-profile.html">Çıkış Yap</a></li>
                </ul>
            </li>
        </ul>
    </div>


</div>
