@* Dashboard Layout *@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("PartialDashboardHead")

<body>

    <div id="main-wrapper">

        @await Html.PartialAsync("PartialDashboardNavHeader")

        @await Component.InvokeAsync("_DefaultDashboardHeaderNotifications")
       
        @await Html.PartialAsync("PartialDashboardSidebar")
     
        <div class="col-md-10 content-body">
        @RenderBody()
        </div>
        @await Html.PartialAsync("PartialDashboardFooter")
   
    </div>

    @await Html.PartialAsync("PartialDashboardScripts")

</body>

</html>