
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("PartialDashboardHead")

<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        @await Html.PartialAsync("PartialDashboardNavHeader")

        @await Component.InvokeAsync("_DefaultDashboardHeaderNotifications")
 
        @await Html.PartialAsync("PartialDashboardSidebar")

        @RenderBody()

        @await Html.PartialAsync("PartialDashboardFooter")
   
    </div>

    @await Html.PartialAsync("PartialDashboardScripts")

</body>

</html>