@model MyBlogNight.EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- İçerik Alanı -->
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Kategori Güncelle</h4>
                </div>
                <div class="card-body">
                    <form asp-area="Author" asp-controller="Categories" asp-action="UpdateCategory" method="post">
                        <input type="hidden" asp-for="CategoryId" /> <!-- ID Gizli Alan -->

                        <div class="mb-3">
                            <label asp-for="CategoryName" class="form-label">Kategori Adı</label>
                            <input asp-for="CategoryName" class="form-control" placeholder="Kategori adını girin" required>
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-outline-success">Güncelle</button>
                            <a href="@Url.Action("CategoryList", "Categories", new { area = "Author" })" class="btn btn-outline-secondary">Geri Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
