@model List<MyBlogNight.DtoLayer.Dtos.CommentDtos.DashboardPopulerMembersDTO>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Popüler Üyeler</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Yorum Sayısı</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var (user, index) in Model.Select((value, i) => (value, i + 1)))
                        {
                            <tr>
                                <td>@index</td>
                                <td>
                                    <div class="round-img">
                                        <a href="#"><img width="35" src="~/focus-2/images/avatar/1.png" alt=""></a>
                                    </div>
                                    @user.UserName
                                </td>
                                <td><span>@user.CommentCount yorum</span></td>
                                <td>
                                    @if (user.CommentCount > 2)
                                    {
                                        <span class="badge badge-success">Süper Aktif</span>
                                    }
                                    else if (user.CommentCount > 1)
                                    {
                                        <span class="badge badge-warning">Aktif</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-secondary">Yeni</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
